@using Plan2Day.Core.Constants
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        @if (!User.Identity.IsAuthenticated)
        {
            <li class="nav-item row">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
                    <i class="fas fa-house-user"></i>
                    <p>
                        Login
                    </p>
                </a>
            </li>
            <li class="nav-item row">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">
                    <i class="fas fa-user"></i>
                    <p>
                        Register
                    </p>
                </a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a href="/" class="nav-link">
                    <i class="fas fa-home"></i>
                    <p>
                        Home
                    </p>
                </a>
            </li>

            @if (User.IsInRole(UserConstant.Roles.Administrator))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="manageusers">
                        <i class="fas fa-user"></i>
                        <p>
                            Manage Users
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Movie" asp-action="managemovies">
                        <i class="fas fa-user"></i>
                        <p>
                            Manage Movies
                        </p>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Book" asp-action="managebooks">
                        <i class="fas fa-user"></i>
                        <p>
                            Manage Books
                        </p>
                    </a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Movie" asp-action="allmovies">
                        <i class="fas fa-user"></i>
                        <p>
                            Movies
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Book" asp-action="allbooks">
                        <i class="fas fa-user"></i>
                        <p>
                            Books
                        </p>
                    </a>
                </li>
            }
        }

    </ul>
</nav>